.glassIcon {
    width: 96px;
    height: 97px;
    margin-left: 135px;
    margin-top: -15px;
}

.text {
    font-family: Vazirmatn-Light, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #282828;
    margin-top: 50px;
}

:global(body.darkMode) .text {
    color: #f7f8f8;
}

.BtnContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.deleteBtn {
    font-family: Vazirmatn-Medium, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    width: 160px;
    height: 41px;
    border-radius: 10px;
    padding: 10px;
    background-color: #F43F5E;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.cancelBtn {
    font-family: Vazirmatn-Medium, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    width: 160px;
    height: 41px;
    border-radius: 10px;
    padding: 10px;
    background-color: #DFDFDF;
    color: #282828CC;
    border: none;
    cursor: pointer;
}

.deleteBtn:hover {
    font-size: 0.90rem;
}

.cancelBtn:hover {
    font-size: 0.90rem;
}