.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3.5px);
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.content {
    opacity: 1;
    background-color: #FFFFFF;
    padding: 60px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

:global(body.darkMode) .content {
    background-color: #141414;
}

.small {
    width: 600px;
    height: 250px;
}

.medium {
    width: 472px;
    height: 338px;
}

.large {
    width: 460px;
    height: 488px;
}