.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.welcomeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 100px;
    margin-bottom: 387px;
    background-color: #F2F2F2;
    box-shadow: 5px 7px 15px rgba(135, 206, 235, 0.3);
    border-radius: 20px;
    text-align: center;
}

:global(body.darkMode) .welcomeContainer {
    background-color: #131313;
    color: white;
    box-shadow: 0 0 30px rgba(255,255,255,0.08);
}

.welcomeTitle {
    font-family: Vazirmatn-Regular, Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.menuContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 600px;
    margin-top: 120px;
    margin-right: -70px;
    background-color: #F2F2F2;
    box-shadow: 0 0 15px 2px rgba(135, 206, 235, 0.3);
    border-radius: 20px;
}

:global(body.darkMode) .menuContainer {
    background-color: #131313;
    color: white;
    box-shadow: 0 0 30px rgba(255,255,255,0.08);
}

.verify {
    margin-top: 20px;
    width: 63px;
    height: 63px;
}

.owner {
    margin-top: 13px;
    font-family: Vazirmatn-Regular, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 17px;
}

.menuContainer span {
    margin-top: 20px;
    height: 1px;
    width: 180px;
    background-color: lightgray;
}

.accountBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 30px;
    margin-left: 65px;
    cursor: pointer;
}

.account {
    font-family: Vazirmatn-Regular, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.accountIcon {
    width: 23px;
    height: 23px;
}

.homeBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
    margin-left: 118px;
    cursor: pointer;
}

.home {
    font-family: Vazirmatn-Regular, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.homeIcon {
    width: 27px;
    height: 27px;
}

.logOutBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
    margin-left: 118px;
    cursor: pointer;
}

.logOut {
    font-family: Vazirmatn-Regular, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #ef133c;
}

.logOutIcon {
    width: 17px;
    height: 17px;
}

