.title {
    font-family: Kalameh-Medium, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 31px;
    text-align: center;
    color: #282828;
    margin-top: 55px;
}

:global(body.darkMode) .title {
    color: #FFFFFF;
}

.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 140px auto;
    width: 470px;
    height: 523px;
    border-radius: 40px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4
}

.formBox img {
    width: 80px;
    height: 84px;
    margin-top: 55px;
}

.formBox p {
    font-family: Vazirmatn-Regular, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: #282828;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.field {
    position: relative;
}

.userInput {
    font-family: Vazirmatn-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: right;
    width: 400px;
    height: 53px;
    border-radius: 15px;
    padding: 22px 15px;
    margin-bottom: 15px;
    border: none;
    background: #F2F2F2;
    text-align: right;
}

.userInput:focus {
    border: 1px solid #282828;
}

.userLabel {
    font-family: Vazirmatn-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #28282880;
    text-align: right;
    position: absolute;
    white-space: nowrap;
    top: 13px;
    right: 20px;
    transition: 0.4s ease;
    pointer-events: none;
}

.userInput:focus + label,
.userInput:not(:placeholder-shown) + label {
    top: -1px;
    right: 17px;
    font-size: 13px;
    background: #F2F2F2;
    width: fit-content;
    padding: 0 9px;
    border-radius: 5px;
}

.passInput {
    font-family: Vazirmatn-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: right;
    width: 400px;
    height: 53px;
    border-radius: 15px;
    padding: 22px 15px;
    margin-bottom: 15px;
    border: none;
    background: #F2F2F2;
    text-align: right;
}

.passInput:focus {
    border: 1px solid #282828;
}

.passLabel {
    font-family: Vazirmatn-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #28282880;
    text-align: right;
    position: absolute;
    white-space: nowrap;
    top: 13px;
    right: 20px;
    transition: 0.4s ease;
    pointer-events: none;
}

.passInput:focus + label,
.passInput:not(:placeholder-shown) + label {
    top: -1px;
    right: 17px;
    font-size: 13.4px;
    background: #F2F2F2;
    width: fit-content;
    padding: 0 9px;
    border-radius: 5px;
}

.form button {
    font-family: Vazirmatn-Regular, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    width: 400px;
    height: 53px;
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
    border: none;
    background: #55A3F0;
    color: #FFFFFF;
    cursor: pointer;
}

.link {
    font-family: Vazirmatn-Regular, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #3A8BED;
    margin-top: 17px;
    margin-left: 270px;
    text-decoration: none;
}

.form span {
    font-family: Vazirmatn-Regular, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fa1e1e;
    margin-left: 155px;
    margin-top: -10px;
    text-align: center;
    display: block;
    height: 20px;
}